<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">



<!--    <context:annotation-config />-->
<!--    <context:component-scan base-package="org.xml_based"/>-->

<!--    <context:property-placeholder location="classpath:price.properties"/>-->

    <bean id="car" class="org.xml_based.Car">
        <constructor-arg  type="int" value="1"/>
        <constructor-arg ref="twostrokes"/>
        <constructor-arg type="java.lang.String" value="Bugatti"/>
    </bean>

    <bean id="bike" class="org.xml_based.Bike" >
        <property name="engine" ref="fourstrokes"/>
    </bean>

    <bean id="twostrokes" class="org.xml_based.TwoStrokes"> </bean>

    <bean id="fourstrokes" class="org.xml_based.FourStrokes"> </bean>

    <bean id="main" class="org.xml_based.Main">
        <constructor-arg ref="car"/>
        <constructor-arg ref="bike"/>
    </bean>

    <bean id="car2" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" >
            <value>org.xml_based.Car</value>
        </property>
        <property name="targetMethod">
            <value>getId</value>
        </property>
    </bean>

    <bean id="getField" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="targetObject" ref="car"/>
        <property name="targetField" value="id"/>
    </bean>

    <bean id="piValue" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="targetClass" value="java.lang.Math"/>
        <property name="targetField" value="PI"/>
    </bean>

    <bean id="object" class="org.xml_based.Object_Factory" factory-method="getObject">
        <constructor-arg value="new Object"/>
    </bean>

</beans>